/* variables */

$titlealign:flex-end;
$sectionalign:center;


.section{

justify-content:$sectionalign;
	
	&--align{
	justify-content:$sectionalign;
	}
}

.container-general{
	
margin-left:50px;
margin-right: 20px;
}

.container{

margin-left:50px;
margin-right: 20px;	

}
.form{

display: flex;
flex-direction: column;
align-items: center;
 background-image: url("../assets/img/formbackground.png");

}

.parallaxPadding{
	
padding-bottom:30px;
}

.retiropadding{
	padding-bottom: 15px;
}